@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            <h1 class="pl-5 pt-5 mt-5 font-color-main">
                Sistema para Fornecedores
            </h1>
            <p class="pl-5 text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <a class="btn btn-outline-success ml-5" asp-area="Identity" asp-page="/Account/Register">Registra-se Agora</a>
        </div>

        <div class="col-md-5">
            <img class="img-fluid" style="height:50vh" src="~/svg/undraw_factory_dy0a.svg" alt="Alternate Text" />

        </div>

    </div>
</div>

<div class="col-md-12 bg-white">
    <br />

    <small class="text-danger alert-danger rounded">Features</small>

    <h3 class="font-color-main">O que está incluído no trabalho?</h3>

    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <img src="~/svg/undraw_logistics_x4dc.svg" class="card-img-top align-self-center p-1" alt="..." style="width:300px">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Produtos</h5>
                    <p class="card-text">Gerencie seus produtos, cadastre e tenha controle em tempo real. Acesse agora mesmo.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/svg/undraw_dev_productivity_umsq.svg" class="card-img-top align-self-center p-1" alt="..." style="width:200px">
                <div class="card-body">
                    <h5 class="card-title">Dev 100% Prod</h5>
                    <p class="card-text">Sistema criado, a partir do Curso Dominando o ASP.NET MVC Core. Instrutor Eduardo Pires.</p>
                </div>
            </div>

        </div>

        <div class="col-md-4 mb-5">
            <div class="card">
                <img src="~/svg/undraw_Building_re_xfcm.svg" class="card-img-top align-self-center p-1" alt="..." style="width:225px">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Fornecedores</h5>
                    <p class="card-text">Cadastre seus Fornecedores e vincule os produtos de acordo com cada fornecedor cadastrado.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            <h3 class="font-color-main pt-3">
                Ferramentas Utilizadas
            </h3>
            <div class="container">
                <div class="skills">
                    <!-- skill -->
                    <div class="skill">
                        <!-- title -->
                        <div class="skill-title">
                            C#
                        </div>
                        <!-- bar -->
                        <div class="skill-bar" data-bar="90"><span></span></div>
                    </div>
                    <!-- #skill -->
                    <!-- skill -->
                    <div class="skill">
                        <!-- title -->
                        <div class="skill-title">
                            SQL SEVER
                        </div>
                        <!-- bar -->
                        <div class="skill-bar" data-bar="70"><span></span></div>
                    </div>
                    <!-- #skill -->
                    <!-- skill -->
                    <div class="skill">
                        <!-- title -->
                        <div class="skill-title">
                            HTML
                        </div>
                        <!-- bar -->
                        <div class="skill-bar" data-bar="60"><span></span></div>
                    </div>
                    <!-- #skill -->
                    <!-- skill -->
                    <div class="skill">
                        <!-- title -->
                        <div class="skill-title">
                            CSS
                        </div>
                        <!-- bar -->
                        <div class="skill-bar" data-bar="80"><span></span></div>
                    </div>
                    <!-- #skill -->
                    <!-- skill -->
                    <div class="skill">
                        <!-- title -->
                        <div class="skill-title">
                            JS
                        </div>
                        <!-- bar -->
                        <div class="skill-bar" data-bar="30"><span></span></div>
                    </div>
                    <!-- #skill -->
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <img src="~/svg/undraw_percentages_0rur.svg" class="img-fluid" style="height:50vh" alt="Alternate Text" />
        </div>
    </div>
</div>

<section class="bg-white">
    <div class="container">
        <div data-anime="top">
            <div class="inner-content ">

                <h3 class="font-color-main pt-3">
                    Contato
                </h3>

                <div class="col-md-12 text-center mx-auto">
                    <hr class=" hr-custom" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/svg/undraw_contact_us_15o2.svg" class="img-fluid" style="height:50vh" alt="Alternate Text" />
                </div>
                <div class="col-lg-4">
                    <div class="container">
                        <div class="">
                            <h3 class="sub-titulo"><i class="fas fa-map-marker-alt" style="color:#2E294E"></i> Endereço</h3>
                            <address>Rua Centro Inhumas-GO, BR</address>
                        </div>
                        <div class="">
                            <h3 class="sub-titulo"><i class="far fa-envelope" style="color:#2E294E"></i> Email</h3>
                            <p><a href="mailto:info@example.com">ajuda@buscaimei.com</a></p>
                        </div>
                        <div class="">
                            <h3 class="sub-titulo"><i class="fa fa-phone" style="color:#2E294E"></i> Telefone</h3>
                            <p><a href="tel:+55 0800 818 1601">+55 0800 818 1601</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>