@model DevIO.App.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        <div class="p-5">
            <h1 class="text-secondary">@Html.Raw(Model.Titulo)</h1>
            <h4 class="text-danger">@Html.Raw(Model.Mensagem)</h4>
            <h5 class="text-info">Erro: @Html.Raw(Model.ErroCode)</h5>
            <a class="btn btn-primary mt-2" href="javascript:window.history.back();" style="padding:10px 80px; border-radius:32px; background-color:#6C63FF; border:none">Voltar</a>
        </div>

        if (Model.ErroCode == 404)
        {
            <div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" style="height:50vh" src="~/svg/undraw_page_not_found_su7k.svg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>
        }

        if (Model.ErroCode == 403)
        {
            <div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" style="height:50vh" src="~/svg/undraw_authentication_fsn5.svg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>
        }

        if (Model.ErroCode == 500)
        {
            <div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" style="height:50vh" src="~/svg/undraw_server_down_s4lk.svg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
